@font-face {
  font-family: zainLight;
  src: url(./assets/font/Zain-LightItalic.ttf);
}
@font-face {
  font-family: zainBold;
  src: url(./assets/font/Zain-Bold.ttf);
}
@font-face {
  font-family: interBold;
  src: url(./assets/font/Inter_18pt-Black.ttf);
}

@font-face {
  font-family: paragraph;
  src: url(./assets/font/Roboto_Condensed-Light.ttf);
}

:root {
  --color-primary: #0f172a;
  --color-secondary: #334155;
  --color-tertiary: #f97316;
  --color-primary-light: #fafaf9;
  --color-primary-dark: #0c0a09;
  --color-grey-light-1: #9ca3af;
  --color-grey-dark-1: #1f2937;

  --shadow-lg: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --shadow-md: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  --shadow-sm: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  --text-shadow-soft: 0 2px 6px rgba(0, 0, 0, 0.25);
  --text-shadow-accent: 2px 3px 0 var(--color-secondary);
  --text-shadow-strong: 0 2px 0 rgba(0, 0, 0, 0.4),
    0 6px 14px rgba(0, 0, 0, 0.35);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px */
}

h1 {
  color: var(--color-primary-light);
}
h2 {
  color: var(--color-primary-light);
  text-transform: capitalize;
}
h3 {
  color: var(--color-primary-light);
}
p {
  color: var(--color-grey-light-1);
  font-family: paragraph;
}

@media (max-width: 1200px) {
  html {
    font-size: 58%;
  } /* 1rem = 9.28px */
}

@media (max-width: 1024px) {
  html {
    font-size: 55%;
  } /* 1rem = 8.8px */
}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  } /* 1rem = 8px */
}

@media (max-width: 480px) {
  html {
    font-size: 45%;
  } /* 1rem = 7.2px */
}
/* h1 {
  font-size: clamp(2.5rem, 5vw, 4.5rem);
}
h2 {
  font-size: clamp(2rem, 4vw, 3.5rem);
}
h3 {
  font-size: clamp(1.5rem, 3vw, 2rem);
}
p {
  font-size: clamp(1.4rem, 2vw, 1.6rem);
  line-height: 1.6;
} */

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  background-color: var(--color-primary-light);
  min-height: 100vh;
  overflow-x: hidden;
}
